<a href="https://colab.research.google.com/github/regalleo/regalleo/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

# Spark Context & Session
conf = SparkConf().setAppName("RDD_Practice").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession.builder.appName("RDD_Practice").getOrCreate()

# Load datasets into RDDs
r1 = sc.textFile("sales.csv")
r2 = sc.textFile("employees.csv")
r3 = sc.textFile("movies.csv")

# Remove headers and split by comma
h1 = r1.first()
r1 = r1.filter(lambda x: x != h1).map(lambda x: x.split(","))

h2 = r2.first()
r2 = r2.filter(lambda x: x != h2).map(lambda x: x.split(","))

h3 = r3.first()
r3 = r3.filter(lambda x: x != h3).map(lambda x: x.split(","))

# âœ… Check first 5 rows from each dataset
print("Sales RDD Sample:")
print(r1.take(5))

print("\nEmployees RDD Sample:")
print(r2.take(5))

print("\nMovies RDD Sample:")
print(r3.take(5))

Sales RDD Sample:
[['T001', 'C001', 'P001', '75000', '2025-08-25', 'Credit Card', 'Bangalore'], ['T002', 'C002', 'P002', '45000', '2025-08-20', 'UPI', 'Delhi'], ['T003', 'C003', 'P003', '60000', '2025-08-18', 'Debit Card', 'Mumbai'], ['T004', 'C004', 'P004', '30000', '2025-08-15', 'Net Banking', 'Chennai'], ['T005', 'C005', 'P005', '2500', '2025-08-10', 'COD', 'Hyderabad']]

Employees RDD Sample:
[['E001', 'Raj Shekhar', 'Engineering', '95000', '2020-05-10', 'Bangalore'], ['E002', 'Ananya Sharma', 'HR', '50000', '2021-01-12', 'Delhi'], ['E003', 'Rahul Verma', 'Finance', '85000', '2019-07-19', 'Mumbai'], ['E004', 'Priya Nair', 'Engineering', '105000', '2018-03-15', 'Chennai'], ['E005', 'Sneha Kapoor', 'Marketing', '60000', '2022-09-05', 'Hyderabad']]

Movies RDD Sample:
[['U001', 'M001', '4', '2025-08-10 10:15:00', 'Action'], ['U002', 'M002', '5', '2025-08-12 15:30:00', 'Drama'], ['U003', 'M003', '2', '2025-08-13 18:45:00', 'Comedy'], ['U001', 'M004', '3', '2025-08-14 20:00:00', 'Drama'], ['U002', 'M001', '4', '2025-08-15 11:20:00', 'Action']]

In [3]:
# ðŸ“ 20 Mixed RDD Questions (Sales + Employees + Movies)
# ðŸ”¹ Cross-Dataset Analytics
# Join sales and employees by city â†’ find total revenue per city per department.
amt_city_and_dept_loc_revenue_percity_perdept=r1.map(lambda x:(x[6],int(x[3]))).join(r2.map(lambda x:(x[5],x[2]))).map(lambda x:((x[0],x[1][1]),x[1][0])).reduceByKey(lambda x,y:x+y)
for i in amt_city_and_dept_loc_revenue_percity_perdept.collect():
  print(i)

# Find the employee with the highest salary in the city with maximum total sales revenue.
max_city = r1.map(lambda x: (x[6], int(x[3]))).reduceByKey(lambda a, b: a + b).max(lambda x: x[1])[0]
print(max_city)

highest_paid = r2.filter(lambda x: x[5] == max_city).map(lambda x: (x[1], int(x[3]))).max(lambda x: x[1])
print(highest_paid)

# For each city, compute:
# Total employees
j2=r2.map(lambda x:(x[5],1)).reduceByKey(lambda a,b:a+b).sortBy(lambda x:x[0])
print(j2.collect())

# Total sales revenue
j3=r1.map(lambda x:int(x[3])).sum()
print(j3)
# Average revenue per employee.
j3=r1.map(lambda x:int(x[3])).sum()
j4=r2.count()
j5=j3/j4
print(j5)
# Join employees and movies â†’ check if any employeeâ€™s join year = any movieâ€™s release year, list matches.
join_year_and_empname=r2.map(lambda x: (int(x[4].split("-")[0]),x[1]))
movie_relDate_and_movieID=r3.map(lambda x:(int(x[3].split("-")[0]),x[1]))
j6=join_year_and_empname.join(movie_relDate_and_movieID)
print(j6)

(('Delhi', 'HR'), 48500)
(('Mumbai', 'Engineering'), 105000)
(('Bangalore', 'Engineering'), 76200)
(('Mumbai', 'Finance'), 105000)
(('Hyderabad', 'Marketing'), 2500)
(('Chennai', 'Engineering'), 30000)
(('Bangalore', 'Finance'), 76200)
Mumbai
('Kavya Iyer', 98000)
[('Bangalore', 2), ('Chennai', 1), ('Delhi', 1), ('Hyderabad', 1), ('Mumbai', 2)]
262200
37457.142857142855
PythonRDD[60] at RDD at PythonRDD.scala:53

In [5]:
# ðŸ”¹ Moderate-Level Questions:datasets required :customers_rdd.csv,orders_rdd.csv,products_rdd.csv
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

# Spark Context & Session
conf = SparkConf().setAppName("RDD_Practice").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession.builder.appName("RDD_Practice").getOrCreate()

# Load datasets into RDDs
r1 = sc.textFile("customers_rdd.csv")
r2 = sc.textFile("orders_rdd.csv")
r3 = sc.textFile("products_rdd.csv")

# Remove headers and split by comma
h1 = r1.first()
r1 = r1.filter(lambda x: x != h1).map(lambda x: x.split(","))

h2 = r2.first()
r2 = r2.filter(lambda x: x != h2).map(lambda x: x.split(","))

h3 = r3.first()
r3 = r3.filter(lambda x: x != h3).map(lambda x: x.split(","))

# # âœ… Check first 5 rows from each dataset
# print("Customers RDD Sample:")
# print(r1.take(5))

# print("\nOrders RDD Sample:")
# print(r2.take(5))

# print("\nProducts RDD Sample:")
# print(r3.take(5))

# 1. Ranking & Aggregation
# # Find the top 2 customers by total spending.
# # Example: r1 = ["O001,C001,P001,2,2025-08-20", ...]
# top2 = (
#     r1.map(lambda x: (x.split(",")[1], int(x.split(",")[3])))   # (customer_id, amount)
#       .reduceByKey(lambda a, b: a + b)                         # total spending per customer
#       .join(r2.map(lambda x: (x.split(",")[0], x.split(",")[1])))  # join with customer_id â†’ name
#       .map(lambda x: (x[1][1], x[1][0]))                       # (customer_name, total_spent)
#       .takeOrdered(2, key=lambda x: -x[1])                     # top 2 customers
# )
# print(top2)




# Find the average order amount per city (join customers + orders).
avg_ord=r2.map(lambda x:(x[1],int(x[3]))).join(r1.map(lambda x:(x[0],x[2]))).map(lambda x:(x[1][1],(x[1][0],1))).reduceByKey(lambda a,b:(a[0]+b[0],a[1]+b[1])).mapValues(lambda x:x[0]/x[1])
print(avg_ord.collect())

# Rank payment methods by total revenue generated.
rank=r2.map(lambda x:(x[5],int(x[3]))).reduceByKey(lambda a,b:a+b).takeOrdered(10,key=lambda x:-x[1])
for i,j in rank:
  print(i,"->",j)
# Find the customer with max and min order values.
max_min=r1.map(lambda x:(x[0],x[1])).join(r2.map(lambda x:(x[1],int(x[3])))).map(lambda x:(x[1][0],x[1][1])).reduceByKey(lambda x,y:x+y)
max=max_min.takeOrdered(1,key=lambda x:-x[1])
min=max_min.takeOrdered(1,key=lambda x:x[1])
print(max)
print(min)

# 2. Date & Time
# Count how many orders were made per month.
from datetime import datetime
cnt = r2.map(lambda x: (datetime.strptime(x[4], "%Y-%m-%d").strftime("%b"), 1)).reduceByKey(lambda a, b: a + b)
print(cnt.collect())
#OR
cnt = r2.map(lambda x: (int(x[4].split("-")[1]), 1)).reduceByKey(lambda a, b: a + b)
print(cnt.collect())

# Find the city with the earliest signup and the latest signup.
ear_lat=r1.map(lambda x:(x[2],datetime.strptime(x[3],"%Y-%m-%d")))
earliest_signup=ear_lat.takeOrdered(1,key=lambda x:x[1])
latest_signup=ear_lat.takeOrdered(1,key=lambda x:-x[1].timestamp())
print(earliest_signup)
print(latest_signup)

# Compare total signups per month vs total orders per month.
signups_per_month=r1.map(lambda x:(datetime.strptime(x[3],"%Y-%m-%d").month,1)).reduceByKey(lambda x,y:x+y)
order_per_month=r2.map(lambda x:(datetime.strptime(x[4],"%Y-%m-%d").month,1)).reduceByKey(lambda x,y:x+y)
compare=signups_per_month.join(order_per_month)
print("Month -> (Signups, Orders):", compare.collect())

# 3. String & Regex
# Find all customers whose name starts with â€˜Râ€™.
starts_r=r1.filter(lambda x:x[1].startswith("R"))
print(starts_r.collect())

# Extract the year from signup_date and group customers by signup year.
extract=r1.map(lambda x:(x[1],int(x[3].split("-")[0]))).reduceByKey(lambda x,y:x+y)
print(extract.collect())
# Find all products whose name length > 6 characters.
name_len=r3.filter(lambda x:len(x[1])>6).map(lambda x:x[1])
print(name_len.collect())

# Extract only numeric order IDs from orders dataset
import re
ex_num=r2.filter(lambda x:re.match(r"^O[0-9]+$",x[0])).map(lambda x:x[0])
print(ex_num.collect())
# Extract all order IDs that contain exactly 3 digits (like O123).
ex_ord_3=r2.filter(lambda x:re.match(r"^O[0-9]{3}",x[0])).map(lambda x:x[0])
print(ex_ord_3.collect())

# Find all products in orders table whose payment method startswith "C" and endswith "d"
ex_payment=r2.filter(lambda x:re.match(r"^C.*d$",x[5])).map(lambda x:(x[2],x[5]))
print(ex_payment.collect())
# OR
ex_or=r2.filter(lambda x:(x[5].startswith("C") and x[5].endswith("d"))).map(lambda x:(x[2],x[5]))
print(ex_payment.collect())

# 4. Joins
# Join customers and orders â†’ list customer name, product, and amount.

# Find total revenue per city (customers.city â†” orders.amount).

# Find all customers who have not placed any order.
j10=r1.map(lambda x:(x[0],x[1])).leftOuterJoin(r2.map(lambda x:(x[1],1))).filter(lambda x:x[1][1] is None)
print(j10.collect())

[('Mumbai', 30000.0), ('Delhi', 36166.666666666664), ('Bangalore', 26066.666666666668)]
Credit Card -> 78500
Net Banking -> 60000
UPI -> 46200
Debit Card -> 30000
COD -> 2000
[('Raj', 76200)]
[('Meera', 2000)]
[('May', 7)]
[(5, 7)]
[('Bangalore', datetime.datetime(2023, 1, 12, 0, 0))]
[('Delhi', datetime.datetime(2023, 4, 5, 0, 0))]
Month -> (Signups, Orders): []
[['C001', 'Raj', 'Bangalore', '2023-01-12'], ['C003', 'Rahul', 'Mumbai', '2023-03-15']]
[('Raj', 2023), ('Ananya', 2023), ('Rahul', 2023), ('Meera', 2023), ('Sneha', 2023)]
['Headphones', 'Keyboard']
['O001', 'O002', 'O003', 'O004', 'O005', 'O006', 'O007']
['O001', 'O002', 'O003', 'O004', 'O005', 'O006', 'O007']
[('Laptop', 'Credit Card'), ('Keyboard', 'Credit Card')]
[('Laptop', 'Credit Card'), ('Keyboard', 'Credit Card')]
[]

In [64]:
# # DATE AND TIME QUESTIONS ON DF AND SQL
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("CSV Reader").getOrCreate()
df1=spark.read.csv("customers_rdd.csv",inferSchema=True,header=True,sep=",").alias("c")
df2=spark.read.csv("orders_rdd.csv",inferSchema=True,header=True,sep=",").alias("p")
df3=spark.read.csv("products_rdd.csv",inferSchema=True,header=True,sep=",").alias("o")
df1.show()
df2.show()
df3.show()
# # FROM DF
# 1. Extract Year, Month, Day from order date
ex_y=df2.select(date_format("order_date","yyyy").alias("order_year")).show()
ex_m=df2.select(month(col("order_date")).alias("order_month")).show()
ex_d=df2.select(dayofmonth(col("order_date")).alias("order_day")).show()

# 2. Find total orders per month
total_orders_per_month=df2.select(date_format("order_date","MMM").alias("month"),col("order_id")).groupBy("month").agg(count(col("order_id")).alias("total_orders")).orderBy("month").show()
from pyspark.sql.functions import avg

# 3. Print rows whose amount is greater than the total average amount
ex1 = df2.agg(avg("amount").alias("average")).collect()[0]["average"]
print(ex1)

# 4. Find the top 3 customers who spent the most in 2023.
ex2=df2.filter(year(col("order_date"))==2023).groupBy(col("cust_id")).agg(sum(col("amount")).alias("total_spent")).orderBy(col("total_spent").desc()).limit(3).show()

# 5. Find the average order value for each payment method, only for products whose name length > 5.
ex3=df2.select(col("amount"),col("payment_method"),col("product")).filter(length(col("product"))>5).groupBy(col("payment_method")).agg(avg(col("amount")).alias("avg_amount")).show()

# # FROM SQL
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("CSV Reader").getOrCreate()
df1=spark.read.csv("customers_rdd.csv",inferSchema=True,header=True,sep=",")
df2=spark.read.csv("orders_rdd.csv",inferSchema=True,header=True,sep=",")
df3=spark.read.csv("products_rdd.csv",inferSchema=True,header=True,sep=",")
df1.createOrReplaceTempView("cust")
df2.createOrReplaceTempView("ord")
df3.createOrReplaceTempView("prod")
# 1. Extract Year, Month from orders
spark.sql("select order_id,year(order_date) as year,month(order_date) as month from ord").show()

# 2.Find the earliest and latest signup date per city
spark.sql("select max(signup_date) as latest_signup_date,min(signup_date) as earliest_signup_date from cust").show()

# 3.Monthly total sales
spark.sql("select date_format(order_date,'yyyy-MM') as month ,sum(amount) as total_amount from ord group by month order by month").show()

spark.sql("select * from ord where amount > (select avg(amount) as average from ord)").show()

# 4. Find the average order value for each payment method, only for products whose name length > 5.
spark.sql("select avg(amount) as avg_amount,payment_method from ord where length(product)>5 group by payment_method").show()

+-------+------+---------+-----------+
|cust_id|  name|     city|signup_date|
+-------+------+---------+-----------+
|   C001|   Raj|Bangalore| 2023-01-12|
|   C002|Ananya|    Delhi| 2023-02-20|
|   C003| Rahul|   Mumbai| 2023-03-15|
|   C004| Meera|Bangalore| 2023-03-18|
|   C005| Sneha|    Delhi| 2023-04-05|
+-------+------+---------+-----------+

+--------+-------+----------+------+----------+--------------+
|order_id|cust_id|   product|amount|order_date|payment_method|
+--------+-------+----------+------+----------+--------------+
|    O001|   C001|    Laptop| 75000|2023-05-10|   Credit Card|
|    O002|   C002|     Phone| 45000|2023-05-12|           UPI|
|    O003|   C003|    Tablet| 30000|2023-05-13|    Debit Card|
|    O004|   C004|Headphones|  2000|2023-05-15|           COD|
|    O005|   C001|     Mouse|  1200|2023-05-16|           UPI|
|    O006|   C002|  Keyboard|  3500|2023-05-20|   Credit Card|
|    O007|   C005|    Laptop| 60000|2023-05-25|   Net Banking|
+--------+-------+----------+------+----------+--------------+

+----------+------------+-----------+-----+--------+
|product_id|product_name|   category|price|  vendor|
+----------+------------+-----------+-----+--------+
|      P001|      Laptop|Electronics|75000|    Dell|
|      P002|       Phone|Electronics|45000| Samsung|
|      P003|      Tablet|Electronics|30000|   Apple|
|      P004|  Headphones|Accessories| 2000|    Boat|
|      P005|       Mouse|Accessories| 1200|Logitech|
|      P006|    Keyboard|Accessories| 3500|      HP|
+----------+------------+-----------+-----+--------+

+----------+
|order_year|
+----------+
|      2023|
|      2023|
|      2023|
|      2023|
|      2023|
|      2023|
|      2023|
+----------+

+-----------+
|order_month|
+-----------+
|          5|
|          5|
|          5|
|          5|
|          5|
|          5|
|          5|
+-----------+

+---------+
|order_day|
+---------+
|       10|
|       12|
|       13|
|       15|
|       16|
|       20|
|       25|
+---------+

+-----+------------+
|month|total_orders|
+-----+------------+
|  May|           7|
+-----+------------+

30957.14285714286
+-------+-----------+
|cust_id|total_spent|
+-------+-----------+
|   C001|      76200|
|   C005|      60000|
|   C002|      48500|
+-------+-----------+

+--------------+----------+
|payment_method|avg_amount|
+--------------+----------+
|           COD|    2000.0|
|   Credit Card|   39250.0|
|   Net Banking|   60000.0|
|    Debit Card|   30000.0|
+--------------+----------+

+--------+----+-----+
|order_id|year|month|
+--------+----+-----+
|    O001|2023|    5|
|    O002|2023|    5|
|    O003|2023|    5|
|    O004|2023|    5|
|    O005|2023|    5|
|    O006|2023|    5|
|    O007|2023|    5|
+--------+----+-----+

+------------------+--------------------+
|latest_signup_date|earliest_signup_date|
+------------------+--------------------+
|        2023-04-05|          2023-01-12|
+------------------+--------------------+

+-------+------------+
|  month|total_amount|
+-------+------------+
|2023-05|      216700|
+-------+------------+

+--------+-------+-------+------+----------+--------------+
|order_id|cust_id|product|amount|order_date|payment_method|
+--------+-------+-------+------+----------+--------------+
|    O001|   C001| Laptop| 75000|2023-05-10|   Credit Card|
|    O002|   C002|  Phone| 45000|2023-05-12|           UPI|
|    O007|   C005| Laptop| 60000|2023-05-25|   Net Banking|
+--------+-------+-------+------+----------+--------------+

+----------+--------------+
|avg_amount|payment_method|
+----------+--------------+
|    2000.0|           COD|
|   39250.0|   Credit Card|
|   60000.0|   Net Banking|
|   30000.0|    Debit Card|
+----------+--------------+

In [99]:
# ðŸ”¹ RDD Questions (2 with concat idea)
# Concatenate cust_id and order_id in orders to create a unique transaction_key RDD.
concat_1=r2.map(lambda x:(x[1]+'_'+x[0]))
print(concat_1.collect())

concat_2=r2.map(lambda x:(x[2]+"->"+x[3]))
print(concat_2.collect())
# ðŸ”¹ DataFrame Questions (4 with between, isin, like, rlike)
# Find all orders where amount is between 1000 and 5000.
df2.filter(col("amount").between(1000,5000)).show()
# Find all customers who live in either "Delhi" or "Bangalore".
df1.filter(col("city").isin(["Delhi","Bangalore"])).show()

# Find all customers whose name starts with "R".
df1.filter(col("name").rlike("j$")).show()
df1.filter(col("name").endswith("j")).show()
df1.filter(col("name").like("%j")).show()

# Find all payment methods that end with "Card" using regex.
df2.filter(col("payment_method").endswith("Card")).show()

# ðŸ”¹ SQL Questions (4 with regex, between, in, like)
# Find all orders where amount is between 1000 and 5000.
spark.sql("select * from ord where amount between 1000 and 5000").show()
# Find all customers who live in "Delhi" or "Bangalore".
spark.sql("select * from cust where city in ('Delhi','Bangalore')").show()

# Find all customers whose name starts with "R".
spark.sql("select * from cust where name like('R%')").show()
# Find all orders where payment_method ends with "Card" using regex (RLIKE).
spark.sql("select * from ord where payment_method like('%Card')").show()

['C001_O001', 'C002_O002', 'C003_O003', 'C004_O004', 'C001_O005', 'C002_O006', 'C005_O007']
['Laptop->75000', 'Phone->45000', 'Tablet->30000', 'Headphones->2000', 'Mouse->1200', 'Keyboard->3500', 'Laptop->60000']
+--------+-------+----------+------+----------+--------------+
|order_id|cust_id|   product|amount|order_date|payment_method|
+--------+-------+----------+------+----------+--------------+
|    O004|   C004|Headphones|  2000|2023-05-15|           COD|
|    O005|   C001|     Mouse|  1200|2023-05-16|           UPI|
|    O006|   C002|  Keyboard|  3500|2023-05-20|   Credit Card|
+--------+-------+----------+------+----------+--------------+

+-------+------+---------+-----------+
|cust_id|  name|     city|signup_date|
+-------+------+---------+-----------+
|   C001|   Raj|Bangalore| 2023-01-12|
|   C002|Ananya|    Delhi| 2023-02-20|
|   C004| Meera|Bangalore| 2023-03-18|
|   C005| Sneha|    Delhi| 2023-04-05|
+-------+------+---------+-----------+

+-------+----+---------+-----------+
|cust_id|name|     city|signup_date|
+-------+----+---------+-----------+
|   C001| Raj|Bangalore| 2023-01-12|
+-------+----+---------+-----------+

+-------+----+---------+-----------+
|cust_id|name|     city|signup_date|
+-------+----+---------+-----------+
|   C001| Raj|Bangalore| 2023-01-12|
+-------+----+---------+-----------+

+-------+----+---------+-----------+
|cust_id|name|     city|signup_date|
+-------+----+---------+-----------+
|   C001| Raj|Bangalore| 2023-01-12|
+-------+----+---------+-----------+

+--------+-------+--------+------+----------+--------------+
|order_id|cust_id| product|amount|order_date|payment_method|
+--------+-------+--------+------+----------+--------------+
|    O001|   C001|  Laptop| 75000|2023-05-10|   Credit Card|
|    O003|   C003|  Tablet| 30000|2023-05-13|    Debit Card|
|    O006|   C002|Keyboard|  3500|2023-05-20|   Credit Card|
+--------+-------+--------+------+----------+--------------+

+--------+-------+----------+------+----------+--------------+
|order_id|cust_id|   product|amount|order_date|payment_method|
+--------+-------+----------+------+----------+--------------+
|    O004|   C004|Headphones|  2000|2023-05-15|           COD|
|    O005|   C001|     Mouse|  1200|2023-05-16|           UPI|
|    O006|   C002|  Keyboard|  3500|2023-05-20|   Credit Card|
+--------+-------+----------+------+----------+--------------+

+-------+------+---------+-----------+
|cust_id|  name|     city|signup_date|
+-------+------+---------+-----------+
|   C001|   Raj|Bangalore| 2023-01-12|
|   C002|Ananya|    Delhi| 2023-02-20|
|   C004| Meera|Bangalore| 2023-03-18|
|   C005| Sneha|    Delhi| 2023-04-05|
+-------+------+---------+-----------+

+-------+-----+---------+-----------+
|cust_id| name|     city|signup_date|
+-------+-----+---------+-----------+
|   C001|  Raj|Bangalore| 2023-01-12|
|   C003|Rahul|   Mumbai| 2023-03-15|
+-------+-----+---------+-----------+

+--------+-------+--------+------+----------+--------------+
|order_id|cust_id| product|amount|order_date|payment_method|
+--------+-------+--------+------+----------+--------------+
|    O001|   C001|  Laptop| 75000|2023-05-10|   Credit Card|
|    O003|   C003|  Tablet| 30000|2023-05-13|    Debit Card|
|    O006|   C002|Keyboard|  3500|2023-05-20|   Credit Card|
+--------+-------+--------+------+----------+--------------+